body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.div-1 {
    text-align: center;
    color: white;
    margin: 0;
    font-size: xx-large;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/donation5.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    padding: 150px 300px;
}


.link-button-1 {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(blue, rgb(114, 206, 243));
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
}

.section-1 {
    text-align: center;
    font-size: xx-large;
    margin: 150px 350px;
}

.div-3 {
    display: inline-flex;
}

.h3-1 {
    margin: 20px;
    background-color: rgb(247, 224, 219);
    padding: 40px 30px;
    border: 3px solid tomato;
    border-radius: 5px;
    color: tomato;
}