body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.div-1 {
    text-align: center;
    color: white;
    margin: 0;
    font-size: xx-large;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/donation5.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: initial;
    padding: 150px 300px;
}


.link-button-1 {
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(blue, rgb(114, 206, 243));
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
}

.section-1 {
    text-align: center;
    font-size: xx-large;
    margin: 150px 350px;
}

.div-3 {
    display: inline-flex;
}

.h3-1 {
    margin: 20px;
    background-color: rgb(247, 224, 219);
    padding: 40px 30px;
    border: 3px solid tomato;
    border-radius: 5px;
    color: tomato;
}

.div-4 {
    text-align: center;
    margin: 0px 500px;
}

.div-5 {
    display: flex;
    margin: 0px 150px;
}

.div-6 {
    margin: 3%;
    padding: 20px 50px;
    border-radius: 10px;
}

.font-size {
    font-size: xx-large;

}

.text-color {
    color: rgb(29, 27, 27);
}

.b-c-1 {
    background-color: rgb(233, 251, 198);
}

.b-c-2 {
    background-color: rgb(205, 205, 249);
}

.b-c-3 {
    background-color: rgb(250, 235, 250);
}

footer {
    text-align: center;
    background-color: rgb(0, 0, 37);
    padding: 70px;
    color: white;
    font-size: x-large;
    font-weight: 900;
}